@use "../variables" as *;
@use "../mixins" as *;

.footer {
    background: var(--bg-color);
    color: var(--text-color);
    text-align: center;
    padding: $spacing-md;
    border-top: 2px solid var(--primary-color);
    transition: background 0.3s ease, color 0.3s ease;

    a {
        color: var(--secondary-color);
        text-decoration: none;
        transition: color 0.3s ease;

        &:hover {
            color: (var(--secondary-color), 10%);
        }
    }

    @include respond(mobile) {
        padding: $spacing-md;
        font-size: $font-small;
    }
}
