@use "../variables" as *;

.toy-filter {
    background: var(--bg-color);
    color: var(--text-color);
    padding: $spacing-md;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: $spacing-sm;

    label {
        font-weight: bold;
        font-size: $font-medium;
    }

    input, select {
        padding: $spacing-sm;
        border: none;
        border-radius: 5px;
        width: 100%;
        background: var(--secondary-color);
        color: var(--text-color);
        font-size: $font-small;

        &:focus {
            outline: 2px solid var(--primary-color);
        }
    }

    button {
        background: var(--primary-color);
        color: var(--text-light);
        padding: $spacing-sm;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        font-size: $font-small;
        transition: all 0.3s ease-in-out;

        &:hover {
            filter: brightness(0.85);
        }
        
    }
}
