@use './variables';
  @use "./mixins";
  @use "./themes.scss";


  @use "./components/chat.scss";
  @use "./components/homepage.scss";
  @use "./components/popup.scss";
  @use "./components/toydetails.scss";
  @use "./components/toyfilter.scss";
  @use "./components/toyindex.scss";
  @use "./components/toylist.scss";
  @use "./components/toypreview.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Inter', sans-serif;
    transition: background 0.3s ease, color 0.3s ease;
  }


  